@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: Inter, sans-serif;

  --color-white: white;
  --color-black: black;
  --color-light-black: #262626;
  --color-grey: grey;
  --color-light-grey: #e5e5e5;
}